/*로고*/

#logo_img{
	display: block;
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
	width: 165px;
	height: 58px;
}

/*메뉴*/
.menu{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.menu_link{
	margin-right: 20px;
	text-decoration: none;
	font-family: 'Helvetica';
	font-size: 16px;
	color: #58595B;
}

/*이미지*/

.imgAttribute{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}